.DS_Store
.npmrc
/.project
/*.log
/.idea
**/node_modules
/out
/app/components/dist
/assets/css/style.css
/build
npm-debug.log
out
/nodejs/
**/.gradle
/.jshintrc
/*.orig
/gradle/
/*.iml
.brackets.json
/patches
/.history
/.vscode
/babel_cache
*.orig
npm-debug.log*
/tmp
test/selenium/build/
test/selenium/.gradle
